.CrudSwitchesArea{
    display: flex;
}

.CrudSwitchesButton{
    margin: 15px;
    margin-top: 0;
    margin-right: 0;
    background-color: gainsboro;
    border-style: solid;
    border-color: black;
    width: 150px;
}

.CrudSwitchesButton > *{
    text-align: center;
}

.CrudSwitchesButton.active{
    background-color: orange;
}