.formField{
    margin-bottom: 5px;
    margin-right: 170px;
}

.basicForm{
    display: flex;
}

.userCard{
    border-color:darkred;
    border-style: solid;
    margin-bottom: 10px;
    padding: 10px;
    background-color: gold;
    border-radius: 10px;
}